@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;;
}

:root {
    --color-one: #1C232E;
    --color-two: #F49728;
    --color-three: #747474;
    --color-four: #181619;
    --color-five: #A66920;
    --color-six: #FFFCF7;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column  ;
}

.box-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.text-link {
    font-size: 10px;
    font-weight: bolder;
    text-shadow: 0.5px 0.5px 1px var(--color-five);
    color: var(--color-two);
    text-decoration: none;
    transition: 0.7s all;
}

.text-link:hover {
    color: var(--color-five);
}   